* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Aeonik';
  src: url('fonts/Nulshock BD (1).otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Aeonik, Arial, Helvetica, sans-serif;
  color: gray;
  scroll-behavior: smooth;
  /*background-image: url("../../public/background.jpg");*/
  background-color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.galeria-section {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.9); /* Sombra suave abaixo da imagem */

  box-sizing: border-box;
}

.galeria-section img {
  width: 100vw;
  height: auto;
  display: block;
  margin: 0;
}


h2 {
  margin:0;
  padding:0;
  font-family: 'Aeonik';
  text-align: start;
  color: white;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.section {
  border-radius: 2rem;
  padding: 0px 20px;
  margin: 0 auto;
  width: calc(100% - 40px);
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 10%;
  text-align: center;
}

.home-section {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 20px;
  color: white;
}

.news-section {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 20px;
  color: white;
}

.equipe-section {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 20px;
  color: white;
}

.sobre-section{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 20px;
}

.contato-section {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
  height: 100px;
}

footer {
  background-color: transparent;
  margin-top: auto;
  padding-top: 0px;
  padding-bottom: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  height: 30px;
  color: black;
}

nav {
  margin-bottom: 20px;
  display: flex;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  margin-top: 35px;
  margin-left: auto;
}

nav ul li {
  margin-right: 20px;
  color: black;
  font-size: 18px;
}

nav ul li:hover{
  font-size: 20px;
  transition: 0.8s;
}

nav ul li a {
  color: rgb(234, 234, 234);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: white;
}

.addictionHomeImage{
  padding-left: 20px;
  margin-top: 20px;
}

.imageLoading{
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.errorMensagem{
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}

.mensagemFooter{
  text-align: center;
  font-size: 15px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.linkEmail{
  color: white;
  font-weight: bold;
}

h1{
  font-size: 60px;
  font-family: 'Aeonik';
  text-align: center;
  text-transform: uppercase;
  color: white;
}

p{
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.SoundCloud{
  margin:auto;
  width: 50%;
}

.HomeImagem{
  cursor: pointer;
  transition:transform 0.25s ease;
}

.HomeImagem:hover{
  -webkit-transform:scale(1.5);
  transform:scale(1.1);
}

.socialMedia-section-footer {
  display: flex;
  justify-content: center;
  gap: 30px;
}





