* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Aeonik';
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Aeonik, Arial, Helvetica, sans-serif;
  color: gray;
  scroll-behavior: smooth;
  background-color: rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.galeria-section {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow:
          0px 0px 30px rgba(255, 255, 255, 0.3);
}

.galeria-section img {
  width: 100vw;
  height: auto;
  display: block;
  margin: 0;
}

h2 {
  margin:0;
  padding:0;
  font-family: 'Aeonik';
  text-align: start;
  color: white;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.section {
  border-radius: 4rem;
  padding: 0px;
  margin: 0 auto;
  width: 100%;
  max-width: 95%;
  margin-bottom: 10%;
  text-align: center;
}

.news-section {
  color: white;
}

.contato-section {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  margin: 0;
  height: 100px;
}

footer {
  padding-bottom: 50px;
  width: 100%;
  height: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  transition: font-size 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  font-size: 20px;
  color: #f0f0f0;
  text-decoration: none;
}

.imageLoading{
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.errorMensagem{
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}

.mensagemFooter{
  text-align: center;
  font-size: 15px;
  margin: 1px;
  padding: 0;
}

.linkEmail {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

h1{
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

p{
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.socialMedia-section-footer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.socialMedia-section-footer a {
  color: gray;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.socialMedia-section-footer a:hover {
  color: white;
}

.mensagemFooter {
  font-size: 14px;
  color: gray;
}

.linkEmail {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.linkEmail:hover {
  color: white;
}

@media (max-width: 480px)  {
  .section {
    border-radius: 4rem;
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  nav ul li a {
    font-size: 25px;
  }

}

@media (max-width: 1000px) {
  nav ul li a {
    font-size: 24px;
  }
}

@media (min-width: 1001px) {
  nav ul li a {
    font-size: 24px;
  }

}

@media (min-width: 1000px)  {
  .section {
    border-radius: 4rem;
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    font-size: 20px;
  }
}

@media (min-width: 1002px) {
  nav ul li a {
    font-size: 24px;
  }

  nav ul li a:hover {
    font-size: 28px;
    color: #f0f0f0;
    text-decoration: none;
  }

}
