.div-informacoes-details {    
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin: 0;
    padding: 0;
}

.div-informacoes-details-inside {    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

span{
    color: white;
}

.p-inside{
    font-weight: bold;
    margin: 6px;
}

.div-informacoes-details-inside h2{
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 0;
}

.label-inside-details{
    color: white;
}

.label-inside-details:hover{
    color: white;
    text-decoration: underline;
}

 .imagem-details {
    width: 350px;
    padding-bottom: 20px;
}
  
  .div-frame {
    margin-top: 30px;
  }
  
  