
  /* Style for the author sections */
  .author-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  /* Style for individual author boxes */
  .author {
    width: 45%;
    text-align: center;
    border-radius: 2rem;
    padding: 20px;
    margin: 10px;
    background-color: rgba(230, 230, 230, 0.531);
  }
  /* Style for author names */
  .author h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Style for author images */
  .author img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /* Style for author descriptions */
  .author p {
    font-size: 14px;
    line-height: 1.4;
  }

  .socialMedia-section{
    display: flex;
    justify-content: space-around;
  }


  .instagram{
    color: red;
  }

  .soundcloud{
    background:linear-gradient(120deg, #ff8800, #ff3300);
    color: white;
    border-radius: 20px;
  }

  .youtube{
    color: RED;
  }



  
 