.track {
    padding: 0;
}

.imagem-home{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.track-content {
    background-color: #343434;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 6px;
}

.track-content-faixa {
    height: 400px;
}

.track-content-addicast {
    height: 300px;
}

.track-content-addicast:hover {
    transform:scale(1.05);
    cursor: pointer;
    transition:transform 0.25s ease;
    background-color: #494949;
}

.track-content-image {
    width: 100%;
    height: 70%;
    object-fit: cover; /* To ensure the image covers the entire container */
}
.track-content-title {
    margin: 0;
    margin-top: 7px;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    padding-left: 7px;
    padding-right: 7px;
}
.track-content-artist {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    color: gray;
    padding-left: 7px;
    padding-right: 7px;

}
.track-content-label {
    margin: 0;
    margin-top: 0px;
    font-size: 14px;
    color: gray;
    padding-left: 7px;
    padding-right: 7px;
}

.spotify{
    color: rgb(34, 241, 34);
}

.youtube:hover{
    transform:scale(1.5);
    cursor: pointer;
    transition:transform 0.25s ease;
}

.instagram:hover{
    transform:scale(1.5);
    cursor: pointer;
    transition:transform 0.25s ease;
}

.spotify:hover{
    transform:scale(1.5);
    cursor: pointer;
    transition:transform 0.25s ease;
}

.soundcloud:hover{
    transform:scale(1.5);
    cursor: pointer;
    transition:transform 0.25s ease;
}

.beatport:hover{
    transform:scale(1.5);
    cursor: pointer;
    transition:transform 0.25s ease;
}

.div-lista-addicast{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.div-lista-addicast::-webkit-scrollbar {
    height: 8px;
  }
  
  .div-lista-addicast::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
  
  .div-lista-addicast::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
  }

  .action-btns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 7px;
    color: #343434;
  }

  .action-btns button {
    width: 40px;
    height: 22px;  
    color: #343434;
    background-color: rgb(27, 26, 26);
    color: white;
    cursor: pointer;
  }
  
  .action-btns button:hover {
    color: #ffffff;
    background-color: rgb(191, 191, 191);
  }

 






