
.div-pagina-home ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none outside none;
    padding-right: 10px;
  }

  .div-pagina-home ul li{
    margin: 5px;
    background-color: #414141;
    flex: 2; /* Distribuir espaço igualmente entre os itens */
    text-align: start;
  }

.imagemMusicaInternaHome{

    transition:transform 0.25s ease;
    max-width: 100%;
 }

 .imagemMusicaInternaHome:hover{
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.1);
    cursor: pointer;
  }


 .nome-interno{
    font-size: 19px;
    color: rgba(255, 255, 255, 0.664);
 }


.div-itens-show{
    padding-left: 20px;
}

.sobreNosHome{
    padding: 70px;
}

.imagemSobre{
    width: 400px;
    height: 400px;
}

.sobreNosHome{
    margin-left: 0;
    padding-left: 0;
}

.imagem-home{
    width: 1280;
    height: 1080;
}

.addicast {
    padding: 0;
}

.addicast-content {
    background-color: #343434;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 6px;
}

.addicast-content:hover {
    transform:scale(1.05);
    cursor: pointer;
    transition:transform 0.25s ease;

}

.addicast-content-image {
    width: 100%;
    height: 70%;
    object-fit: cover; /* To ensure the image covers the entire container */
}
.addicast-content-title {
    margin: 0;
    margin-top: 7px;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
    padding-left: 7px;
    padding-right: 7px;
}
.addicast-content-artist {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    color: gray;
    padding-left: 7px;
    padding-right: 7px;

}
.addicast-content-label {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    color: gray;
    padding-left: 7px;
    padding-right: 7px;
}

.titulo-home{
    font-size: 24px;
    text-align: start;
    color: white;
    margin-bottom: 4px;
}










