
  .div-pagina-musica ul{
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none outside none;
    padding-right: 20px;
  }

  .div-pagina-musica ul li{
    padding: 10px;
    margin: 5px;
    background-color: rgba(230, 230, 230, 0.731);
    flex: 1; /* Distribuir espaço igualmente entre os itens */
  }

  .imagemMusicaInterna{
    width: 250px;
    height: 250px;
    transition:transform 0.25s ease;

  }

  .imagemMusicaInterna:hover{
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.1);
    cursor: pointer;
  }

.imagemRecords{
  border-radius: 40px;
  cursor: pointer;
  transition:transform 0.25s ease;
  justify-content: center;
  margin: auto;
  display: block;
}

.imagemRecords:hover{
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(1.1);
}

.div-records{
  border-radius: 20px;
  margin-bottom: 3%;  
  padding-bottom: 50px;
  padding-top: 30px;
  padding-left: 10px;
}

.div-div-records{
  display: flex;
  justify-content: space-around;
}

