
  .div-pagina-musica ul{
    display: inline-flex;
    flex-wrap: wrap;
    padding: 5 px;
    list-style: none outside none;
  }

  .div-pagina-musica ul li{
    border: solid 1px white;
    padding: 5px;
    margin: 5px;
    background-color: rgba(230, 230, 230, 0.731);
    flex: 1; /* Distribuir espaço igualmente entre os itens */
    border-radius: 1.5rem;
  }

  .tituloEscuteNossoSom{
    font-size: 48px;
    padding-left: 300px;
  }

  .soundcloudSection{
    display: flex;
    align-items: center;
  }

  .imagemMusicaInterna{
    width: 400px;
    height: 400px;
  }

.imagemRecords{
  border-radius: 40px;
  cursor: pointer;
  transition:transform 0.25s ease;
  justify-content: center;
  margin: auto;
  display: block;
}

.imagemRecords:hover{
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(1.1);
}

.div-records{
  background-color: rgba(230, 230, 230, 0.731);
  border-radius: 20px;
  margin-bottom: 3%;  
  padding-bottom: 50px;
  padding-top: 30px;
  padding-left: 10px;
}

.div-div-records{
  display: flex;
  justify-content: space-around;
}

