.div-pagina-news {
    padding: 0 15px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.div-lista-news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.track {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: rgba(38, 38, 38, 0.7);
    border-radius: 18px;
    padding: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.track:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: #333333;
}

.track img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin-right: 20px;
}

.track-content {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

p.track-content-descricao {
    font-size: 14px;
    color: whitesmoke;
    box-sizing: border-box;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1.track-content-titulo{
    font-size: 20px;
    color: whitesmoke;
    font-weight: bolder;
    text-align: start;
}

.track-content-link {
    margin-top: 10px;
    color: yellow;
    text-decoration: none;
    transition: color 0.3s ease;
    align-self: flex-start;
    padding-bottom: 5px;
}

.track-content-link:hover {
    color: yellow;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #333;
    color: #fff;
    border: none;
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .track {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 10px 10px;
        background-color: rgba(38, 38, 38, 0.7);
        border-radius: 10px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        width: 100%;
    }

    .track-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Alinha o conteúdo ao topo */
    }
    .track-content-titulo {
        font-size: 20px; /* Reduz ligeiramente o tamanho do título */
    }

    .track-content-descricao {
        font-size: 14px;
    }

}

@media (max-width: 480px) {
    .track {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 10px 10px;
        background-color: rgba(38, 38, 38, 0.7);
        border-radius: 10px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        width: 100%;
    }

    .track-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    h1.track-content-titulo {
        font-size: 16px;
        margin: 0 0 30px 0;
        padding: 0;
    }

    .track img {
        width: 140px;
        height: 140px;
        margin-right: 10px;
    }

    p.track-content-descricao {
        font-size: 10px;
    }

    .track-content-link {
        color: yellow;
        text-decoration: none;
        transition: color 0.3s ease;
        align-self: flex-start;
    }
}

@media (min-width: 1024px) {
    .track {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 10px 10px;
        background-color: rgba(38, 38, 38, 0.7);
        border-radius: 10px;
        transition: transform 0.3s ease, background-color 0.3s ease;
        width: 100%;
    }

    .track-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Alinha o conteúdo ao topo */
    }

    h1.track-content-titulo {
        font-size: 26px;
    }

    p.track-content-descricao {
        font-size: 18px;
    }

    .pagination {
        margin-top: 30px;
    }
}
