.div-pagina-news {
    padding: 0;
    text-align: center;
    max-width: 1200px;
}

.div-lista-news {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.track {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: rgba(38, 38, 38, 0.7);
    border-radius: 18px;
}

.track:hover {
    transform: scale(1.0010);
    cursor: pointer;
    background-color: #333333;
}

.track img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin-right: 20px;
}

.track-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: calc(100% - 120px);
}

.track-content-descricao {
    margin: 10px 0;
    font-size: 14px;
    font-weight: bolder;
    color: whitesmoke;
    box-sizing: border-box;
    text-align: left;
}

.track-content-titulo{
    margin: 10px 0;
    font-size: 24px;
    color: whitesmoke;
    box-sizing: border-box;
    text-align: left;
}

.track-content-link {
    margin-top: 10px;
    color: yellow;
    text-decoration: none;
    transition: color 0.3s ease;
    align-self: flex-start;
    padding-bottom: 5px;
}

.track-content-link:hover {
    color: green;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #333;
    color: #fff;
    border: none;
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #555;
}
