
  

  /* Style for the author sections */
  .author-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  /* Style for individual author boxes */
  .author {
    width: 45%;
    text-align: center;
    border-radius: 2rem;
    padding: 20px;
    margin: 10px;
    background-color: rgba(230, 230, 230, 0.731);
  }
  /* Style for author names */
  .author h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Style for author images */
  .author img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /* Style for author descriptions */
  .author p {
    font-size: 14px;
    line-height: 1.4;
  }

  .insta-section-cherubini{
    display: flex;
    justify-content: space-around;
  }

  .insta-section-daluz{
    display: flex;
    justify-content: space-around;
  }

  .div-pagina-shows ul{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    list-style: none outside none;
  }

  .div-pagina-shows ul li{
    border: solid 1px white;
    outline: auto;
    padding: 5px;
    margin: 5px;
    background-color: rgba(230, 230, 230, 0.731);
    flex: 1; /* Distribuir espaço igualmente entre os itens */
    border-radius: 1.5rem;
  }

  .imagemShowInterna{
    width: 300px;
    height: 300px;
  }

 